//font icon base
@font-face {
    font-family: 'fonticon';
    src: url('fonts/fonticon.eot');
    src: url('fonts/fonticon.eot') format('embedded-opentype'), url('fonts/fonticon.woff') format('woff'), url('fonts/fonticon.ttf') format('truetype'), url('fonts/fonticon.svg#fonticon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.eot');
    src: url('fonts/roboto-light-webfont.eot') format('embedded-opentype'), url('fonts/roboto-light-webfont.woff') format('woff'), url('fonts/roboto-light-webfont.ttf') format('truetype'), url('fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto-medium-webfont.eot');
    src: url('fonts/roboto-medium-webfont.eot') format('embedded-opentype'), url('fonts/roboto-medium-webfont.woff') format('woff'), url('fonts/roboto-medium-webfont.ttf') format('truetype'), url('fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('fonts/roboto-thin-webfont.eot');
    src: url('fonts/roboto-thin-webfont.eot') format('embedded-opentype'), url('fonts/roboto-thin-webfont.woff') format('woff'), url('fonts/roboto-thin-webfont.ttf') format('truetype'), url('fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomono';
    src: url('fonts/robotomono-thin-webfont.eot');
    src: url('fonts/robotomono-thin-webfont.eot') format('embedded-opentype'), url('fonts/robotomono-thin-webfont.woff') format('woff'), url('fonts/robotomono-thin-webfont.ttf') format('truetype'), url('fonts/robotomono-thin-webfont.svg#robotomonothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'print';
    src: url('fonts/trana-webfont.eot');
    src: url('fonts/trana-webfont.eot') format('embedded-opentype'), url('fonts/trana-webfont.woff') format('woff'), url('fonts/trana-webfont.ttf') format('truetype'), url('fonts/trana-webfont.svg#trana') format('svg');
    font-weight: normal;
    font-style: normal;
}
