.gr-panel {
    position: relative;
}

.gr {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    .gr-item {
        display: flex;
        width: 100%;
        height: 100%;
        &:first-child {
            flex: .38196601125;
        }
        &:last-child {
            flex: .61803398875;
        }
    }
}

@media(min-width:992px) {
    .gr-panel {
        padding-top: 61.803398875%;
    }
    .gr, .gr > div > div {
        flex-direction: row-reverse;
    }
    .gr > div, .gr > div > div > div {
        flex-direction: column;
    }
}

@media (max-width:992px) and (min-width:640px) {
    .gr-panel {
        padding-top: 100%;
    }
    .gr, .gr > div > div {
        flex-direction: column-reverse;
    }
    .gr > div, .gr > div > div > div {
        flex-direction: row;
    }
}

@media (max-width:639px) {
    .gr-panel {
        padding-top: 161.803398875%;
    }
    .gr, .gr > div > div {
        flex-direction: column-reverse;
    }
    .gr > div, .gr > div > div > div {
        flex-direction: row;
    }
}
