body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, legend, button, input, textarea,
th, td, figure {
    margin: 0;
    padding: 0;
}

address, cite, dfn, em, var {
    font-style: normal;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

abbr[title], acronym[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after {
    content: '';
}

legend {
    color: #000;
}

a, select, input, button, textarea {
    outline: none;
}

button, input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border: none;
    height: 1px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

input, select, textarea {
    &:focus {
        outline: none;
    }
}

img {
    border: 0;
}
