* {
    box-sizing: border-box;
}

html {
    font-size: $font-size-base;
    line-height: 1.2em;
    font-family: $font-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}

body,
html {
    min-height: 100%;
    overflow-x: hidden;
}

input, div, span, ul, li, ol, p, select, textarea, dl, dt, dd, td, tr {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

i {
    text-align: center;
}

abbr[title],
acronym[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

q:after,
q:before {
    content: '';
}

legend {
    color: $color-0;
}

a,
button,
input,
select,
textarea {
    outline: none;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

hr {
    border: none;
    height: 1px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

input,
select,
textarea {
    &:focus {
        outline: none;
    }
}

img {
    border: 0;
}

label[for] {
    cursor: pointer;
}

[readonly] {
    cursor: not-allowed;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-family: $font;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
