* {
    box-sizing: border-box;
}

input, div, span, ul, li, ol, p, select, textarea, dl, dt, dd, html, body, select, form {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

//CUI Setting
html {
    font-size: 16px;
    line-height: 1em;
    font-family: $font, "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
}

body, html {
    min-height: 100%;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    color: $color-0;
}

label[for] {
    cursor: pointer;
}

input, select, textarea, button {
    font-size: 100%;
    outline: none;
    color: $color-text-default;
}

img {
    border: 0;
}

[readonly] {
    cursor: not-allowed;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-size: 1rem;
}

i {
    text-align: center;
}

abbr[title], acronym[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

q:after, q:before {
    content: '';
}