.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-bold;
    line-height: 1em;
}

.h0 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.h2,
.h3,
.h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h5,
.h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

%f0,
.h0,
.f0 {
    font-size: $font-size-0;
}

%f1,
.h1,
.f1 {
    font-size: $font-size-1;
}

%f2,
.h2,
.f2 {
    font-size: $font-size-2;
}

%f3,
.h3,
.f3 {
    font-size: $font-size-3;
}

%f4,
.h4,
.f4 {
    font-size: $font-size-4;
}

%f5,
.h5,
.f5 {
    font-size: $font-size-5;
}

%f6,
.h6,
.f6 {
    font-size: $font-size-6;
}

%f7
.f7 {
    font-size: $font-size-7;
}

@media (max-width: $screen-sm-max) {
    .h0,
    .f0 {
        font-size: $font-size-0-small;
    }
    .h1,
    .f1 {
        font-size: $font-size-1-small;
    }
    .h2,
    .f2 {
        font-size: $font-size-2-small;
    }
    .h3,
    .f3 {
        font-size: $font-size-3-small;
    }
    .h4,
    .f4 {
        font-size: $font-size-4-small;
    }
    .h5,
    .f5 {
        font-size: $font-size-5-small;
    }
    .h6,
    .f6 {
        font-size: $font-size-6-small;
    }
    .f7 {
        font-size: $font-size-7-small;
    }
}

%text-normal {
    font-weight: normal;
    font-family: $font !important;
}

.text-normal {
    @extend %text-normal;
}

%text-bolder {
    font-weight: normal;
    font-family: $font-bolder;
}

.text-bolder {
    @extend %text-bolder;
}

%text-bold {
    font-weight: normal;
    font-family: $font-bold;
}

b,
.text-bold {
    @extend %text-bold;
}

%text-light {
    font-weight: normal;
    font-family: $font-light;
}

.text-light {
    @extend %text-light;
}

%text-lighter {
    font-weight: normal;
    font-family: $font-lighter;
}

.text-lighter {
    @extend %text-lighter;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-shadow {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.text-white {
    color: $color-f;
}

.text-darkgray {
    color: $color-3;
}

.text-gray {
    color: $color-7;
}

.text-lightgray {
    color: $color-a;
}

.text-green, .text-safe {
    color: $color-safe;
}

.text-orange, .text-warning {
    color: $color-warning;
}

.text-red, .text-error {
    color: $color-danger;
}

.text-blue {
    color: $color-blue;
}

.text-main {
    color: $color-main;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}
