$cdnUrl: "%cdnUrl%";
$staticUrl: "%staticUrl%";
//supprot destop
$support-destop: true;
$support-hover: $support-destop;
$support-focus: $support-destop;
// very small screen / phone
$screen-xs: 320px;
$screen-xs-min: 320px;
$screen-phone: $screen-xs-min;
// Small screen / tablet
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;
// Medium screen / desktop
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;
// Large screen / wide desktop
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;
$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;
//grid
$grid-columns: 12;
$grid-gutter-width: 30px;
$flex-gutter-width: 30px;
$font: "robotolight";
$font-thin: "robotothin";
$font-mono: robotomono, Consolas, Monaco, monospace;
$font-print: print, Consolas, Monaco, monospace;
//legacy main
$color-main: #4facfe;
$color-main-l1: lighten($color-main, 6.18%);
$color-main-l2: lighten($color-main-l1, 6.18%);
$color-main-l3: lighten($color-main-l2, 6.18%);
//blue
$color-blue: #4facfe;
$color-blue-l1: lighten($color-blue, 6.18%);
$color-blue-l2: lighten($color-blue-l1, 6.18%);
$color-blue-l3: lighten($color-blue-l2, 6.18%);
//lake
$color-info: #34f1ff;
$color-info-l1: lighten($color-info, 6.18%);
$color-info-l2: lighten($color-info-l1, 6.18%);
$color-info-l3: lighten($color-info-l2, 6.18%);
//orange
$color-warning: #ffa057;
$color-warning-l1: lighten($color-warning, 6.18%);
$color-warning-l2: lighten($color-warning-l1, 6.18%);
$color-warning-l3: lighten($color-warning-l2, 6.18%);
// yellow
$color-tip: #fffb7e;
$color-tip-l1: lighten($color-tip, 6.18%);
$color-tip-l2: lighten($color-tip-l1, 6.18%);
$color-tip-l3: lighten($color-tip-l2, 6.18%);
//green
$color-safe: #96e6a1;
$color-safe-l1: lighten($color-safe, 6.18%);
$color-safe-l2: lighten($color-safe-l1, 6.18%);
$color-safe-l3: lighten($color-safe-l2, 6.18%);
//color for error
$color-danger: #ff6464;
$color-danger-l1: lighten($color-danger, 6.18%);
$color-danger-l2: lighten($color-danger-l1, 6.18%);
$color-danger-l3: lighten($color-danger-l1, 6.18%);
//gray level
$color-0: black;
$color-1: #111111;
$color-2: #222222;
$color-3: #333333;
$color-4: #444444;
$color-5: #555555;
$color-6: #666666;
$color-7: #777777;
$color-8: #888888;
$color-9: #999999;
$color-a: #aaaaaa;
$color-b: #bbbbbb;
$color-c: #cccccc;
$color-d: #dddddd;
$color-e: #eeeeee;
$color-f: white;
//reference color
$color-text-default: $color-3;
//color for textbox place holder
$color-placeholder: $color-9;
//color for link
$color-link-default: $color-blue;
$color-link-default-hover: $color-warning;
//color for disable
$color-disable: $color-b;
//color for background
$color-bg: $color-e;
//color for border
$color-border: $color-d;
//font line-height
$font-size-base: 1rem;
$increse: 0.618;
//4
$font-size-0: ($font-size-base + $increse*4);
//2.5
$font-size-1: ($font-size-base + $increse*2.5);
//1.5
$font-size-2: ($font-size-base + $increse*1.5);
//1
$font-size-3: ($font-size-base + $increse);
//0.5
$font-size-4: ($font-size-base + $increse/2);
//0
$font-size-5: $font-size-base;
//-0.5
$font-size-6: ($font-size-base - $increse/2);
//11px
$font-size-7: $font-size-base * $increse;
//button & input & select
$form-size-small: 36px;
$form-size-normal: 40px;
$form-size-large: 50px;
//the basic value is 0.618
$space-s: 0.309rem;
$space-m: 0.618rem;
$space-l: 0.927rem;
$line-s: 1.309rem;
$line-m: 1.618rem;
$line-l: 1.927rem;
//header
$header-height: 50px;
$header-padding: 15px;
//aside
$aside-bg-color: $color-main;
$aside-width: 300px;
$aside-header-padding: 10px 0 20px 10px;
$aside-body-margin: 30px;
$aside-list-item-padding: 14px;
$aside-list-item-font: 13px;
$aside-list-item-color: $color-9;
$aside-list-item-border: solid 1px $color-e;
$aside-footer-margin: 10px;
//dialog
//z-index
$ui-tip-index: 1000;
$ui-popover-index: 1050;
$ui-buttongroup-index:1100;
$ui-pin-index: 1930;
$ui-pin-hover-index: 1940;
$ui-map-popover: 1950;
$ui-sticky-submenu-index: 1950;
$ui-stick-index: 1960;
$ui-header-overlay: 1990;
$ui-header-index: 2000;
$ui-socialbar-index: 2010;
$ui-header-list-index: 2010;
$ui-datepicker-index: 2100;
$ui-gautocomplete-index: 3000;
$ui-dropdown-index: 3100;
$ui-menu-index: 3200;
$ui-aside-index: 4000;
$ui-dialog-overlay: 10000;
$ui-dialog-index: 10010;
