$cdnUrl: "%cdnUrl%";
$staticUrl: "%staticUrl%";

//supprot destop
$support-destop: true;
$support-hover: $support-destop;
$support-focus: $support-destop;

// very small screen / phone
$screen-xs: 320px;
$screen-xs-min: 320px;
$screen-phone: $screen-xs-min;

// Small screen / tablet
$screen-sm: 640px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;

// Medium screen / desktop
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;

// Large screen / wide desktop
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;

$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;

//grid
$grid-columns: 12;
$grid-gutter-width: 30px;

$font-bold: 'robotoblack';
$font: 'robotomedium';
$font-light: 'robotolight';
$font-thin: 'robotothin';
//legacy main
$color-main: #78004E;
$color-main-l1: lighten($color-main, 15%);
$color-main-l2: lighten($color-main, 30%);
$color-main-l3: lighten($color-main, 60%);
//pink
$color-pink: #78004E;
$color-pink-l1: lighten($color-pink, 15%);
$color-pink-l2: lighten($color-pink, 30%);
$color-pink-l3: lighten($color-pink, 60%);
//blue
$color-blue: #0b0dad;
$color-blue-l1: lighten($color-blue, 15%);
$color-blue-l2: lighten($color-blue, 30%);
$color-blue-l3: lighten($color-blue, 50%);

//lake
$color-info: #008dbd;
$color-info-l1: lighten($color-info, 15%);
$color-info-l2: lighten($color-info, 30%);
$color-info-l3: lighten($color-info, 45%);

//orange
$color-warning: #c05b00;
$color-warning-l1: lighten($color-warning, 15%);
$color-warning-l2: lighten($color-warning, 30%);
$color-warning-l3: lighten($color-warning, 45%);

// yellow
$color-tip: #cccc00;
$color-tip-l1: lighten($color-tip, 15%);
$color-tip-l2: lighten($color-tip, 30%);
$color-tip-l3: lighten($color-tip, 45%);

//green
$color-safe: #357935;
$color-safe-l1: lighten($color-safe, 15%);
$color-safe-l2: lighten($color-safe, 30%);
$color-safe-l3: lighten($color-safe, 45%);

//color for error
$color-danger: #a02622;
$color-danger-l1: lighten($color-danger, 15%);
$color-danger-l2: lighten($color-danger, 30%);
$color-danger-l3: lighten($color-danger, 45%);

//gray level
$color-0: black;
$color-1: #111111;
$color-2: #222222;
$color-3: #333333;
$color-4: #444444;
$color-5: #555555;
$color-6: #666666;
$color-7: #777777;
$color-8: #888888;
$color-9: #999999;
$color-a: #aaaaaa;
$color-b: #bbbbbb;
$color-c: #cccccc;
$color-d: #dddddd;
$color-e: #eeeeee;
$color-f: white;

//reference color
$color-text-default: $color-3;

//color for textbox place holder
$color-placeholder: $color-9;

//color for link
$color-link-default: $color-blue;
$color-link-default-hover: $color-main-l1;

//color for disable
$color-disable: $color-b;

//color for background
$color-bg: $color-e;

//color for border
$color-border: $color-d;

//font line-height
$font-size-base: 16px;

//40px
$font-size-0: 1.618*1.618*1.5;
//32px
//32px
$font-size-1: 1.618*1.618rem;
//26px
//26px
$font-size-2: 1.927rem;
//22px
//22px
$font-size-3: 1.618rem;
//18px
//18px
$font-size-4: 1.309rem;
//16px
//14px
$font-size-5: 1rem;
//14px
//12px
$font-size-6: 0.927rem;
//12px
//11px
$font-size-7: 0.618rem;

//button & input & select
$form-size-small: 36px;
$form-size-normal: 40px;
$form-size-large: 45px;

//the basic value is 0.618
$space-s: 0.309rem;
$space-m: 0.618rem;
$space-l: 0.927rem;
$line-s: 1.309rem;
$line-m: 1.618rem;
$line-l: 1.927rem;
//header
$header-height: 45px;
$menu-height: $header-height;
$menu-bg-color: $color-main;
$menu-padding: 8px;
$menu-text-color: $color-f;
$menu-icon-link-size: 18px;

//aside
$aside-bg-color: $color-main;
$aside-width: 300px;
$aside-header-padding: 10px 0 20px 10px;
$aside-body-margin: 30px;
$aside-list-item-padding: 14px;
$aside-list-item-font: 13px;
$aside-list-item-color: $color-9;
$aside-list-item-border: solid 1px $color-e;
$aside-footer-margin: 10px;

//dialog
$menu-link-height: 40px;
$menu-link-padding: 10px;
$menu-link-color-hover: $color-main-l2;
$menu-link-color-hover-bg: $color-main-l3;
$menu-list-min-width: 160px;

//z-index
$main-index: 1;
$footer-index: 100;
$ui-navbar-menu: 1700;
$ui-tip-index: 1800;
$ui-popover-index: 1850;
$map-morefilters: 1900;
$ui-pin-index: 1930;
$ui-pin-hover-index: 1940;
$ui-map-popover: 1950;
$ui-sticky-submenu-index: 1950;
$ui-stick-index: 1960;
$header-overlay: 1990;
$header-index: 2000;
$ui-socialbar-index: 2010;
$header-list-index: 2010;
$header-logo-index: 2020;
$ui-showallphotos-index: 2050;
$ui-datepicker-index: 2100;
$ui-gautocomplete-index: 3000;
$ui-dropdown-index: 3100;
$ui-menu-index: 3200;
$aside-index: 4000;
$modal-index: 5000;
$mask-index: 9000;
$ui-dialog-overlay: 10000;
$ui-dialog-index: 10010;
$ui-messagebox-index: 11000;
$ui-loading-index: 20000;
