//hide
#body .hide {
    display: none;
}

//help
.help {
    border-bottom: dashed 1px $color-6;
    cursor: help;
}

//blank space
.blank-xs {
    height: 5px;
}

.blank-s {
    height: 10px;
}

.blank-m {
    height: 15px;
}

.blank-l {
    height: 20px;
}

.blank-xl {
    height: 25px;
}

.padding-clear {
    padding: 0 !important;
}

.margin-clear {
    margin: 0 !important;
}

//make element  center & middel
%block-center {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.block-center {
    @extend %block-center;
}

%block-center-x {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.block-center-x {
    @extend %block-center-x;
}

%block-center-y {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.block-center-y {
    @extend %block-center-y;
}

%img-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 100%;
    max-height: 100%;
}

.img-center {
    @extend %img-center;
}

.img-center-cover-x {
    width: 100% !important;
    height: auto !important;
    max-width: 999px !important;
    max-height: 999px !important;
}

.img-center-cover-y {
    width: auto !important;
    height: 100% !important;
    max-width: 999px !important;
    max-height: 999px !important;
}

//make input select or textarea look like a plain text
%appearance {
    appearance: none;
}

//float layout
%clearfix {
    @include clearfix;
}

.clearfix {
    @extend %clearfix;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

//singline
%singleline {
    @include singleline(100%);
}

.singleline {
    @extend %singleline;
}

//list disc
.list-disc {
    list-style: disc inside;
}

//font icon define
%icon {
    @include fonticon();
}

[class^="icon-"],
[class*=" icon-"] {
    @extend %icon;
}

[disabled] {
    pointer-events: none;
}

.gs-sin {
    padding: 0px;
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    [class^="col-"], [class*=" col-"] {
        padding: 0px;
    }
}
