<!DOCTYPE html>
<html lang="en">

<head>
    <title>Goden Layout</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta description='the note UI base on CUI framework' />
    <meta name="Description" content="Author: Conjee Zou, note">
    <meta name="background-color" content="#333333">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="%RootUrl%dist/src/visual/src/v-1.json">
    <link rel="shortcut icon" href="%RootUrl%favicon.ico" type="image/x-icon">
    <link href="%RootUrl%dist/src/cui.min.css" type="text/css" rel="stylesheet" />
    <link href="%RootUrl%dist/src//visual/src/v-1.min.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <div class="nav-link">
            <a href="javascript:;" class="prevlink"> <i class="icon-angle-up "></i></a>
            <a href="javascript:;" class="nextlink"> <i class="icon-angle-down"></i></a>
        </div>
        <div class="comment">
            <div class="comment-input">
                <div class="input large left right">
                    <i class="icon-close" v-on:click='toggleComment(false)'></i>
                    <input id="headerInput" v-model="comment" type="text">
                    <i class="icon-check" v-on:click='addComment(false)'></i>
                </div>
            </div>
            <ul>
                <li v-for="(comment,index) in comments">
                    <a href="javascript:;" v-on:click="addComment(comment.text)"> <span>{{comment.text}}</span> <span>{{comment.count}}</span></a>
                </li>
            </ul>
        </div>
        <div class="note">
              <div class="note-item" v-for="(note, index)  in notes"  v-bind:data-id='index'>
                  <div class="note-item-label">
                      <div class="f4">{{ note.title }}</div>
                      <a href="javascript:;" class="f3 text-print" v-on:click="toggleFavorite(note)" v-bind:class="{ checked: note.isFavorite }">
                          <i class="icon-heart "></i> <br>
                          <span data-transition v-bind:data-to="note.heartTo" v-bind:data-from="note.heartFrom">{{ note.heartFrom }}</span>
                      </a>
                      <a href="javascript:;" class="f3 text-print" v-on:click="toggleComment(true)">
                          <i class="icon-comment "></i> <br>
                          <span data-transition v-bind:data-to="note.commentTo" v-bind:data-from="note.commentFrom">{{ note.commentFrom }}</span>
                      </a>
                      <a href="javascript:;" class="f5 text-print">
                          <span data-transition v-bind:data-from="note.dateFrom" v-bind:data-to="note.dateTo" data-dateformat='MM - DD - Y' data-type="date">{{ note.dateFromStr }}</span>
                      </a>
                  </div>
                  <div class="note-item-content">
                      <img v-bind:data-img="note.img" alt="">
                  </div>
              </div>
        </div>
    </div>
</body>
<script src="%RootUrl%dist/src/cui.lib.min.js" type="text/javascript"></script>
<script src="%RootUrl%dist/src/cui.min.js" type="text/javascript"></script>
<script src="%RootUrl%dist/src/visual/src/vue.js" type="text/javascript"></script>
<script src="%RootUrl%dist/src/visual/src/v-1.js" type="text/javascript"></script>
<script>
    window.context = {
        url: '%RootUrl%',
        cdnUrl: '%RootUrl%dist/src/',
        googleMapKey:'key=AIzaSyBtspK44Jc-DabkyA6knFuQ6LSp_8VXZgc'
    };

    navigator.serviceWorker.register(window.context.url + 'sw.js')
        .then(function(registration) {
            console.log("Service worker registered, scope: " + registration.scope);
        })
        .catch(function(error) {
            console.log("Service worker registration failed: " + error.message);
        });
</script>
</html>
