<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#xxxxPanel">
        <%= __('xxxx') %>
        <span class="subtitle"> <%= __('new xxxx style') %></span>
    </a>
    <div id="xxxxPanel">

    </div>
</div>
