<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#dialogPanel">
        <%= __('dialog') %>
        <span class="subtitle"> <%= __('the dialog plugin') %></span>
    </a>
    <div id="dialogPanel" >
        <p>
            <a href="javascript:void(0)" data-dialog data-target="#popupPanel1">open dialog as default</a>
        </p>
        <script id="popupPanel1" type="text/template">
            <div class="dialog-title">Welcome to CUI!</div>
            <p>
                A modal dialog is a window that forces the user to interact with it before they can go back to using the parent application.
            </p>
        </script>
        <p>
            <a href="javascript:void(0)" data-dialog data-target="#popupPanel0" data-theme="fullscreen">open dialog as fullscreen</a>
        </p>
        <script id="popupPanel0" type="text/template">
            <div class="block-center text-center" dialog-close>
                <div class="text-white">Welcome to CUI!</div>
                <p class=" text-white">A modal dialog is a window that forces the user to interact with it before they can go back to using the
                    parent application.</p>
            </div>
        </script>
        <p>
            <a href="javascript:void(0)" data-dialog data-target="#popupPanel" data-theme="dropdown">open dialog as dropdown</a>
        </p>
        <script id="popupPanel" type="text/template">
            <div class="f3">Hello World!</div>
            <div class="blank-xs"></div>
            <ul>
                <li><a href="javascript:;">Apple</a></li>
                <li><a href="javascript:;">Banana</a></li>
                <li><a href="javascript:;">Cat</a></li>
            </ul>
        </script>
    </div>
</div>
