<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#imgzoomPanel">
        <%= __('imgzoom') %>
        <span class="subtitle"> <%= __('the plugin control img zoomin zoomout') %></span>
    </a>
    <div id="imgzoomPanel">
        <div class="row">
            <div class="col-xs-6">
                <a href="javascript:;" class="btn" data-imgzoom data-max="100" data-step="10" data-target="#imgzoomView"><i class="icon-plus"></i> zoom
                    in</a>
            </div>
            <div class="col-xs-6">
                <a href="javascript:;" class="btn" data-imgzoom data-min="50" data-step="-10" data-target="#imgzoomView"><i class="icon-minus"> zoom
                        out</i></a>
            </div>
            <div class="col-xs-12">
                <div id="imgzoomView" class="imgzoom" style="max-height:300px; overflow:scroll;">
                    <li><img data-img="dist/src/img/01.jpg" alt="This is a image."></li>
                    <li><img data-img="dist/src/img/02.jpg" alt="This is a image."></li>
                    <li><img data-img="dist/src/img/03.jpg" alt="This is a image."></li>
                    <li><img data-img="dist/src/img/04.jpg" alt="This is a image."></li>
                    <li><img data-img="dist/src/img/05.jpg" alt="This is a image."></li>
                </div>
            </div>
        </div>
    </div>
</div>
