<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#tabsPanel">
        <%= __('tabs') %>
            <span class="subtitle"> <%= __('new tabs style') %></span>
    </a>
    <div id="tabsPanel">
        <div class="tabs default" data-tabs>
            <ul class="flex-gs left">
                <li data-tab data-target="#tabA" class="flex-gs-4 active"><a href="javascript:;" class="btn">A</a></li>
                <li data-tab data-target="#tabB" class="flex-gs-4"><a href="javascript:;" class="btn">B</a></li>
                <li data-tab data-target="#tabC" class="flex-gs-4"><a href="javascript:;" class="btn">C</a></li>
            </ul>
            <div id="tabA" class="tab-panel">show content of A panel</div>
            <div id="tabB" class="tab-panel">show content of B panel</div>
            <div id="tabC" class="tab-panel">show content of C panel</div>
        </div>
    </div>
</div>
