<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#stickyPanel">
        <%= __('sticky') %>
        <span class="subtitle"> <%= __('new sticky style') %></span>
    </a>
    <div id="stickyPanel" style="display:none">
        <div class="sticky-container">
            <div data-sticky class="sticky-box"></div>
        </div>
    </div>
</div>
