<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#rangesilderPanel">
        <%= __('rangesilder') %>
        <span class="subtitle"> <%= __('the rangesilder plugin') %></span>
    </a>
    <div id="rangesilderPanel">
        <div class="form">
            <div class="row"
                 data-ranger
                 data-max="10000"
                 data-min="100"
                 data-decimals="1"
                 data-step="10"
                 data-target="#ranger"
                 data-onupdate="ranger.update"
                 data-onchange="ranger.change">
                 <div class="col-xs-6" data-textbox>
                     <div class="input left">
                         <label for="txtPriceMin">Min price</label>
                         <i>$</i>
                         <input type="text"
                                id="txtPriceMin"
                                name="min"
                                value="3000"/>
                     </div>
                 </div>
                 <div class="col-xs-6" data-textbox>
                     <div class="input left">
                         <label for="txtPriceMax">Max price</label>
                         <i>$</i>
                         <input type="text"
                                id="txtPriceMax"
                                name="max"
                                value="6000"/>
                     </div>
                 </div>
                <div id="ranger" class="col-xs-12"></div>
            </div>
        </div>
    </div>
</div>
