<div class="panel">
    <a href="javascript:;" class="h2 shown" data-collapse data-target="#shifterPanel">
        <%= __('shifter') %>
        <span class="subtitle"> <%= __('the shifter plugin') %></span>
    </a>
    <div id="shifterPanel">
        <div class="shifter" data-shifter>
            <ul>
                <li>
                    <img data-img="dist/src/img/01.jpg" alt="This is a image.">
                </li>
                <li>
                    <img data-img="dist/src/img/02.jpg" alt="This is a image.">
                </li>
                <li>
                    <img data-img="dist/src/img/03.jpg" alt="This is a image.">
                </li>
                <li>
                    <img data-img="dist/src/img/04.jpg" alt="This is a image.">
                </li>
                <li>
                    <img data-img="dist/src/img/05.jpg" alt="This is a image.">
                </li>
                <li>
                    <img data-img="dist/src/img/06.jpg" alt="This is a image.">
                </li>
                <li>
                    <img data-img="dist/src/img/07.jpg" alt="This is a image.">
                </li>
                <li>
                    <img data-img="dist/src/img/noimg.gif" alt="This is a image.">
                </li>
            </ul>
        </div>
    </div>
</div>
