<div class="panel">
    <a href="javascript:;" class="h2 shown" data-collapse data-target="#loadimagePanel">
        <%= __('loadimage') %>
        <span class="subtitle"> <%= __('new loadimage style') %></span>
    </a>
    <div id="loadimagePanel">
        <div><img data-img="dist/src/img/download-1.jpg" alt="sprit css demo1" style="height:200px;width:300px;"></div>
        <div><img data-img="dist/src/img/download-2.jpg" alt="sprit css demo2" style="height:200px;width:300px;"></div>
        <div><img data-img="dist/src/img/download-3.jpg" alt="sprit css demo3" style="height:200px;width:300px;"></div>
        <div><img data-img="dist/src/img/noimg.gif" alt="sprit css error image" style="height:200px;width:300px;"></div>
    </div>
</div>
