<div class="panel">
    <a href="javascript:;" class="h2 shown" data-collapse data-target="#loadimagePanel">
        <%= __('loadimage') %>
        <span class="subtitle"> <%= __('new loadimage style') %></span>
    </a>
    <div id="loadimagePanel">
        <div><img data-img="dist/src/img/download-1.jpg" style="height:200px;width:300px;"></div>
        <div><img data-img="dist/src/img/download-2.jpg" style="height:200px;width:300px;"></div>
        <div><img data-img="dist/src/img/download-3.jpg" style="height:200px;width:300px;"></div>
        <div><img data-img="dist/src/img/404.jpg" style="height:200px;width:300px;"></div>
    </div>
</div>
