<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#collapsePanel">
        <%= __('collapse') %>
        <span class="subtitle"> <%= __('the collapse plugin') %></span>
    </a>
    <div id="collapsePanel">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <dl style="position: relative;">
                    <dt>
                        <a href="javascript:void(0)"
                           class="collapse-more"
                           data-collapse
                           data-target="#plusPanel"
                           data-once="true"
                           data-isexpand="true"
                        >
                            <span>... show more</span>
                        </a>
                    </dt>
                    <dd id="plusPanel" style="height: 4em; overflow: hidden;">
                        jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation,
                        event handling,
                        animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers. With a combination
                        of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript.
                    </dd>
                </dl>
            </div>
            <div class="col-xs-12 col-sm-3">
                <dl>
                    <dd id="anglePanel" style="height: 4em; overflow: hidden;">jQuery is a fast, small, and feature-rich JavaScript library. It makes
                        things like
                        HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works
                        across a multitude
                        of browsers. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write
                        JavaScript.
                    </dd>
                    <dt><a href="javascript:;" data-collapse data-target="#anglePanel" data-isexpand="true" data-showtext="open"
                           data-hidetext="collapsed"><i
                                    class="icon-angle-down"></i> <span>collapsed</span> </a></dt>
                </dl>
            </div>
            <div class="col-xs-12 col-sm-3">
                <dl>
                    <dt><a href="javascript:;" data-collapse data-target="#eyePanel" data-isexpand="true" data-showtext="shown"
                           data-hidetext="hidden"><i
                                    class="icon-eye-slash"></i> <span>hidden</span></a></dt>
                    <dd id="eyePanel" style="height: 0; overflow: hidden;">jQuery is a fast, small, and feature-rich JavaScript library. It makes
                        things like HTML
                        document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across
                        a multitude
                        of browsers. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write
                        JavaScript.
                    </dd>
                </dl>
            </div>
            <div class="col-xs-12 col-sm-3">
                <dl style="position: relative;">
                    <dt>
                        <a href="javascript:;" data-collapse data-target="#caretPanel">
                            <span>dropdown menu</span> <i class="icon-caret-right"></i>
                        </a>
                    </dt>
                    <dd id="caretPanel" class="collapse-menu">jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML
                        document
                        traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a
                        multitude
                        of browsers. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write
                        JavaScript.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
