<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#dataTable">
       <%= __('data table') %>
        <span class="subtitle"> <%= __('the table render by standard data') %></span>
    </a>
    <div id="dataTable" >
        <div data-datatable data-initafter="datatable.inital" data-maxcount="2"></div>
    </div>
</div>
