<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#tipPanel">
        <%= __('tips') %>
        <span class="subtitle"> <%= __('the tip style') %></span>
    </a>
    <div id="tipPanel">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <a href="javascript:;"
                   data-tip
                   data-content="show on bottom side">
                    top</a>
            </div>
            <div class="col-xs-6 col-sm-3 text-right">
                <a href="javascript:;"
                   data-tip
                   data-placement="left"
                   data-content="show on left side">
                    left</a>
            </div>
            <div class="col-xs-6 col-sm-3">

                <a href="javascript:;"
                   data-tip
                   data-placement="right"
                   data-content="show on right side">
                    right</a>
            </div>
            <div class="col-xs-6 col-sm-3 text-right">
                <a href="javascript:;"
                   data-tip
                   data-placement="bottom"
                   data-content="show on top side">
                    bottom</a>
            </div>
        </div>
    </div>
</div>
