<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#buttonPanel">
        <%= __('buttons') %>
        <span class="subtitle"> <%= __('the basic button style') %></span>
    </a>
    <div id="buttonPanel">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class="dropdown-button" data-dropdownbutton>
                    <a href="javascript:;" class="black">the first</a>
                    <a href="javascript:;" class="black"><i class="icon-caret-down"></i></a>
                    <div class="dropdown-button-list">
                        <a href="javascript:;" class="black">the section</a>
                        <a href="javascript:;" class="black">the third</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="javascript:;" class="btn orange"><i class="icon-check"></i> <span>Orange</span></a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="javascript:;" class="btn blue"><i class="icon-check"></i> <span>Blue</span></a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="javascript:;" class="btn red"><i class="icon-check"></i> <span>Red</span></a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="javascript:;" class="btn green"><i class="icon-check"></i> <span>small</span></a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="javascript:;" class="btn black"><i class="icon-check"></i> <span>large</span></a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="javascript:;" class="btn black loading"><i class="icon-check"></i> <span>loading...</span></a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="javascript:;" class="btn black" disabled><i class="icon-check"></i> <span>disabled</span></a>
            </div>
        </div>
    </div>
</div>
