<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#skeletonPanel">
        <%= __('skeleton') %>
        <span class="subtitle"> <%= __('new skeleton style') %></span>
    </a>
    <div id="skeletonPanel">
        <div class="flex-gs">
            <div class="flex-xs-12">
                <a href="javascript:;" id="loadingSection" class="btn orange">Loading</a>
            </div>
            <div class="flex-xs-6 flex-md-3"><div class="skeleton"></div></div>
            <div class="flex-xs-6 flex-md-3"><div class="skeleton"></div></div>
            <div class="flex-xs-6 flex-md-3"><div class="skeleton"></div></div>
            <div class="flex-xs-6 flex-md-3"><div class="skeleton"></div></div>
        </div>
    </div>
</div>
