<div class="panel">
    <a href="javascript:;" class="h2 shown" data-collapse data-target="#gridviewPanel">
        <%= __('gridview') %>
        <span class="subtitle"> <%= __('the gridview for show img') %></span>
    </a>
    <div id="gridviewPanel" class="row">
        <div class="col-xs-12">
            <div data-gridview></div>
        </div>
    </div>
</div>
