<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#eventPanel">
        touch Event
        <span class="subtitle">The extension of event</span>
    </a>
    <div id="eventPanel" class="row">
        <div class="col-xs-12">
            <div id="eventDiv" style="height:300px;padding:100px 50px; text-align:center;background-color:#ddd;">
                try to move on the panel with your finger.
            </div>
        </div>
    </div>
</div>