<div class="panel">
    <a href="javascript:;" class="h3 addition" data-collapse data-target="#dataTable">data table<span class="subtitle">the table
                    render by standard data</span><i
                class="icon-angle-down right"></i></a>
    <div id="dataTable" style="display: none;">
        <div data-datatable data-initafter="datatable.inital" data-maxcount="2"></div>
    </div>
</div>
