<div class="panel">
    <a href="javascript:;" class="h3 addition" data-collapse data-target="#gridviewPanel">gridview
        <span class="subtitle">the  gridview for show img</span><i class="icon-angle-down right"></i></a>
    <div id="gridviewPanel" class="row" style="display: none;">
        <div class="col-xs-12">
            <div data-gridview></div>
        </div>
    </div>
</div>
