<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#shifterPanel">
        <%= __('shifter') %>
        <span class="subtitle"> <%= __('the shifter plugin') %></span>
    </a>
    <div id="shifterPanel" >
        <div class="shifter" data-shifter data-index="2">
            <ul>
                <li>
                    <img src="dist/src/img/01.jpg" height="100%" alt="This is a image.">
                </li>
                <li>
                    <img src="dist/src/img/02.jpg" height="100%" alt="This is a image.">
                </li>
                <li>
                    <img src="dist/src/img/03.jpg" height="100%" alt="This is a image.">
                </li>
                <li>
                    <img src="dist/src/img/04.jpg" height="100%" alt="This is a image.">
                </li>
                <li>
                    <img src="dist/src/img/05.jpg" height="100%" alt="This is a image.">
                </li>
                <li>
                    <img src="dist/src/img/06.jpg" height="100%" alt="This is a image.">
                </li>
                <li>
                    <img src="dist/src/img/07.jpg" height="100%" alt="This is a image.">
                </li>
            </ul>
        </div>
    </div>
</div>
