<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#rangesilderPanel">
        <%= __('rangesilder') %>
        <span class="subtitle"> <%= __('the rangesilder plugin') %></span>
    </a>
    <div id="rangesilderPanel" data-form class="form" >
        <div class="row">
            <div class="col-xs-12" data-textbox>
                <div class="input left">
                    <label for="txtPrice">price</label>
                    <i>$</i>
                    <input type="text" id="txtPrice" name="price"
                           data-inputformat
                           data-type="price"
                           data-rangesilder
                           data-autohide="false"
                           value="3000"
                           data-min="0"
                           data-step="1"
                           data-max="8000"
                           placeholder="price"
                           data-validate="required,price"/>
                </div>
            </div>
        </div>
    </div>
</div>