<div class="panel">
    <a src="javascript:;" class="h3 addition" data-collapse data-target="#plugincarousel">
        <div id="plugincarousel">
            <div class="row ">
                <div class="col-xs-12 f4">
                    The responsive carousel.
                </div>
                <div class="col-xs-12">
                    <div class="carousel loading" data-carousel>
                        <div class="carousel-list">
                            <ul>
                                <li><img data-src="dist/src/img/01.jpg" alt=""></li>
                                <li><img data-src="dist/src/img/02.jpg" alt=""></li>
                                <li><img data-src="dist/src/img/03.jpg" alt=""></li>
                                <li><img data-src="dist/src/img/04.jpg" alt=""></li>
                                <li><img data-src="dist/src/img/05.jpg" alt=""></li>
                                <li><img data-src="dist/src/img/06.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span>Color Solution</span>
        <span class="subtitle">The regular color we used.</span>
        <i class="icon-angle-down right"></i>
    </a>
</div>