<div class="panel">
    <a href="javascript:;" class="h3 addition" data-collapse data-target="#tipPanel">tips <span class="subtitle">the tip style</span> <i
                class="icon-angle-down right"></i></a>
    <div id="tipPanel" class="row" style="display: none;">
        <div class="col-xs-6 col-sm-3">
            <a href="javascript:;"
               data-tip
               data-content="show on bottom side">
                top</a>
        </div>
        <div class="col-xs-6 col-sm-3 text-right">
            <a href="javascript:;"
               data-tip
               data-placement="left"
               data-content="show on left side">
                left</a>
        </div>
        <div class="col-xs-6 col-sm-3">

            <a href="javascript:;"
               data-tip
               data-placement="right"
               data-content="show on right side">
                right</a>
        </div>
        <div class="col-xs-6 col-sm-3 text-right">
            <a href="javascript:;"
               data-tip
               data-placement="bottom"
               data-content="show on top side">
                bottom</a>
        </div>
    </div>
</div>
