<div class="panel">
    <a href="javascript:;" class="h3 addition" data-collapse data-target="#spritesImage">sprites css<span
                class="subtitle">merge images in one image with css</span><i
                class="icon-angle-down right"></i></a>
    <div id="spritesImage" style="display: none;">
        <div class="s-img-cn"></div>
        <div class="s-img-jp"></div>
        <div class="s-img-us"></div>
    </div>
</div>
