<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#spritesImage">
        <%= __('sprites css') %>
        <span class="subtitle"> <%= __('merge images in one image with css') %></span>
    </a>
    <div id="spritesImage" >
        <div class="s-img-cn"></div>
        <div class="s-img-jp"></div>
        <div class="s-img-us"></div>
    </div>
</div>
