<div class="panel">
    <a href="javascript:;" class="h3 addition" data-collapse data-target="#gridtablePanel">grid table <span class="subtitle">switch table layout to key-value grid when screen is smaller</span>
        <i class="icon-angle-down right"></i></a>
    <div id="gridtablePanel" style="display: none;">
        <table class="gridtable" data-gridtable>
            <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Sex</th>
                <th>Phone</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Conjee</td>
                <td>30</td>
                <td>shishiv30@live.cn</td>
                <td>Male</td>
                <td>18049****48</td>
            </tr>

            <tr>
                <td>Tom</td>
                <td>28</td>
                <td>Tom@gmail.com</td>
                <td>Male</td>
                <td>13696****93</td>
            </tr>
            <tr>
                <td>Lily</td>
                <td>25</td>
                <td>Lily@gmail.com</td>
                <td>Female</td>
                <td>16934****26</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
