<div class="panel">
    <a href="javascript:;" class="h2" data-target="#measurement" data-collapse>
        <%= __('measurement') %>
        <span class="subtitle"> <%= __('use to compare data') %></span>
    </a>
    <div id="measurement" class=" collapse-appear" >
        <div data-measurement data-min="0" data-max="1000"></div>
    </div>
</div>
