<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#flexPanel">
        <%= __('flex') %>
        <span class="subtitle"> <%= __('new flex style') %></span>
    </a>
    <div id="flexPanel" class="flexSystem">
        <div class="flex middle">
            <div>Col 1</div>
            <div>Col 2</div>
            <div class="flex-fixed" style="height:100px;line-height:76px;">Fixed</div>
            <div>Col 4</div>
        </div>
        <div class="flex-gs">
            <div class="flex-xs-6 flex-sm-3 flex-md-4 flex-lg-2">1</div>
            <div class="flex-xs-6 flex-sm-3 flex-md-4 flex-lg-2">2</div>
            <div class="flex-xs-6 flex-sm-3 flex-md-4 flex-lg-2">3</div>
            <div class="flex-xs-6 flex-sm-3 flex-md-4 flex-lg-2">4</div>
            <div class="flex-xs-6 flex-sm-3 flex-md-4 flex-lg-2">5</div>
            <div class="flex-xs-6 flex-sm-3 flex-md-4 flex-lg-2">6</div>
            <div class="flex-xs-6 flex-sm-3 flex-md-4 flex-lg-2">7</div>
            <div class="flex-xs-6 flex-sm-3 flex-md-4 flex-lg-2">8</div>
            <div class="flex-xs-6 flex-sm-3 flex-md-4 flex-lg-2">9</div>
            <div class="flex-xs-6 flex-sm-3 flex-md-4 flex-lg-2">10</div>
            <div class="flex-xs-6 flex-sm-3 flex-md-4 flex-lg-2">11</div>
            <div class="flex-xs-6 flex-sm-3 flex-md-4 flex-lg-2">12</div>
        </div>
    </div>
</div>
