<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#texboxPanel">
        <%= __('textbox') %>
        <span class="subtitle"> <%= __('new textbox style') %></span>
    </a>
    <div id="texboxPanel" class="form row" data-form>
        <div class="col-xs-12 col-sm-6">
            <div data-textbox>
                <div class="input small left right">
                    <label for="txtReq1">Message</label>
                    <i>@</i>
                    <input type="email" id="txtReq1" name='name' value="" data-validate='required,email'>
                    <i class="icon-envelope"></i>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div data-textbox>
                <div class="input left right">
                    <label for="txtReq2">Message</label>
                    <i>@</i>
                    <input type="email" id="txtReq2" name='name' value="" data-validate='required,email'>
                    <i class="icon-envelope"></i>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div data-textbox>
                <div class="input large left right">
                    <label for="txtReq3">Message</label>
                    <i>@</i>
                    <input type="email" id="txtReq3" name='name' value="" data-validate='required,email'>
                    <i class="icon-envelope"></i>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div data-textbox>
                <div class="textarea">
                    <label for="textReq4">Message</label>
                    <textarea name="message" id="textReq4" data-validate='required'></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
