<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#layoutPanel">
        <%= __('layout') %>
        <span class="subtitle"> <%= __('new layout style') %></span>
    </a>
    <div id="layoutPanel">
        <div>the responsive layout will have a limitation of height, which always equal increste rate of width </div>
        <div class="gr-v">
            <div class="gr-v-1">

            </div>
            <div class="gr-v-2">
                
            </div>
        </div>
    </div>
</div>
<style>
    .gr-v{
        display: flex;
        padding-top:100%;    
    }

    .gr-v-1{

    }
    .gr-v-2{

    }
</style>