<div class="panel">
    <a href="javascript:;" class="h3 addition" data-target="#measurement" data-collapse>
        Measurement
        <span class="subtitle">use to compare data</span>
        <i class="icon-angle-down right"></i>
    </a>
    <div id="measurement" class=" collapse-appear" style="display: none;">
        <div data-measurement data-min="0" data-max="1000"></div>
    </div>
</div>
