<div class="panel">
    <a href="javascript:;" class="h3 addition" data-collapse data-target="#fontPanel">font
        <span class="subtitle">the basic font style</span><i class="icon-angle-down right"></i></a>
    <div id="fontPanel" class="row" style="display: none;">
        <div class="col-xs-12">
            <table class="table">
                <tr>
                    <td class="f0">f0</td>
                    <td class="highlight-desktop">40px</td>
                    <td class="highlight-mobile"> 32px</td>
                </tr>
                <tr>
                    <td class="f1">f1</td>
                    <td class="highlight-desktop">32px</td>
                    <td class="highlight-mobile"> 26px</td>
                </tr>
                <tr>
                    <td class="f2">f2</td>
                    <td class="highlight-desktop">26px</td>
                    <td class="highlight-mobile"> 22px</td>
                </tr>
                <tr>
                    <td class="f3">f3</td>
                    <td class="highlight-desktop">22px</td>
                    <td class="highlight-mobile"> 18px</td>
                </tr>
                <tr>
                    <td class="f4">f4</td>
                    <td class="highlight-desktop">18px</td>
                    <td class="highlight-mobile"> 16px</td>
                </tr>
                <tr>
                    <td class="f5">f5</td>
                    <td class="highlight-desktop">16px</td>
                    <td class="highlight-mobile"> 16px</td>
                </tr>
                <tr>
                    <td class="f6">f6</td>
                    <td class="highlight-desktop">14px</td>
                    <td class="highlight-mobile"> 12px</td>
                </tr>
                <tr>
                    <td class="f7">f7</td>
                    <td class="highlight-desktop">11px</td>
                    <td class="highlight-mobile"> 11px</td>
                </tr>
            </table>
        </div>
    </div>
</div>
