<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#buttonPanel">
        <%= __('buttons') %>
        <span class="subtitle"> <%= __('the basic button style') %></span>
    </a>
    <div id="buttonPanel">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <a href="javascript:;" class="btn ghost-green small"><i class="icon-check"></i> <span>small</span></a>
                <div class="blank-xs"></div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="javascript:;" class="btn orange small"><i class="icon-check"></i> <span>small</span></a>
                <div class="blank-xs"></div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="javascript:;" class="btn ghost-blue"><i class="icon-check"></i> <span>normal</span></a>
                <div class="blank-xs"></div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="javascript:;" class="btn red"><i class="icon-check"></i> <span>normal</span></a>
                <div class="blank-xs"></div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="javascript:;" class="btn ghost-cyan large"><i class="icon-check"></i> <span>large</span></a>
                <div class="blank-xs"></div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="javascript:;" class="btn yellow large"><i class="icon-check"></i> <span>large</span></a>
                <div class="blank-xs"></div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="javascript:;" class="btn ghost-pink loading"><i class="icon-check"></i> <span>loading...</span></a>
                <div class="blank-xs"></div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="javascript:;" class="btn ghost-black" disabled><i class="icon-check"></i> <span>disabled</span></a>
                <div class="blank-xs"></div>
            </div>
        </div>
    </div>
</div>
