<div class="panel">
    <a href="javascript:;" class="h3 addition" data-target="#girdSystem" data-collapse>
        Grid system
        <span class="subtitle">use grid system to do layout</span>
        <i class="icon-angle-down right"></i>
    </a>
    <div id="girdSystem" class="girdSystem collapse-appear" style="display: none;">
        <div class="gs">
            <div class="row">
                <div class="col-xs-1">1</div>
                <div class="col-xs-1">1</div>
                <div class="col-xs-1">1</div>
                <div class="col-xs-2">2</div>
                <div class="col-xs-1">1</div>
                <div class="col-xs-2">2</div>
                <div class="col-xs-1">1</div>
                <div class="col-xs-3">3</div>
            </div>

            <div class="row">
                <div class="col-xs-3">3</div>
                <div class="col-xs-3">3</div>
                <div class="col-xs-3">3</div>
                <div class="col-xs-3">3</div>
            </div>
            <div class="row">
                <div class="col-xs-4">4</div>
                <div class="col-xs-4">4</div>
                <div class="col-xs-4">4</div>
            </div>
            <div class="row">
                <div class="col-xs-8">8</div>
                <div class="col-xs-4">4</div>
            </div>
            <div class="row">
                <div class="col-xs-6">6</div>
                <div class="col-xs-6">6</div>
            </div>
        </div>
    </div>
</div>
