<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#typographPanel">
        <%= __('typograph') %>
        <span class="subtitle"> <%= __('the basic typograph') %></span>
    </a>
    <div id="typographPanel">
        <div class="h0">The level 0 title style</div>
        <div class="h1">The level 1 title style</div>
        <div class="h2">The level 2 title style</div>
        <div class="h3">The level 3 title style</div>
        <div class="h4">The level 4 title style</div>
        <div class="h5">The level 5 title style</div>
        <div class="h6">The level 6 title style</div>
        <table class="table">
            <tr>
                <td class="f0">f0</td>
                <td class="highlight-desktop">40px</td>
                <td class="highlight-mobile"> 32px</td>
            </tr>
            <tr>
                <td class="f1">f1</td>
                <td class="highlight-desktop">32px</td>
                <td class="highlight-mobile"> 26px</td>
            </tr>
            <tr>
                <td class="f2">f2</td>
                <td class="highlight-desktop">26px</td>
                <td class="highlight-mobile"> 22px</td>
            </tr>
            <tr>
                <td class="f3">f3</td>
                <td class="highlight-desktop">22px</td>
                <td class="highlight-mobile"> 18px</td>
            </tr>
            <tr>
                <td class="f4">f4</td>
                <td class="highlight-desktop">18px</td>
                <td class="highlight-mobile"> 16px</td>
            </tr>
            <tr>
                <td class="f5">f5</td>
                <td class="highlight-desktop">16px</td>
                <td class="highlight-mobile"> 16px</td>
            </tr>
            <tr>
                <td class="f6">f6</td>
                <td class="highlight-desktop">14px</td>
                <td class="highlight-mobile"> 12px</td>
            </tr>
            <tr>
                <td class="f7">f7</td>
                <td class="highlight-desktop">11px</td>
                <td class="highlight-mobile"> 11px</td>
            </tr>
        </table>
    </div>
</div>