<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#layoutPanel">
        <%= __('layout') %>
        <span class="subtitle"> <%= __('new layout style') %></span>
    </a>
    <div id="layoutPanel">
        <div>the responsive layout will have a limitation of height, which always equal increste rate of width </div>
        <div class="layout">
            <div class="left">

            </div>
            <div class="right">
                
            </div>
        </div>
    </div>
</div>
