<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#layoutPanel">
        <%= __('layout') %>
            <span class="subtitle"> <%= __('new layout style') %></span>
    </a>
    <div id="layoutPanel">
        <div>the responsive layout will have a limitation of height, which always equal increste rate of width </div>
        <div class="gr-panel">
            <div class="gr">
                <div class="gr-item" >
                    <div class="gr-item">
                        <div class="gr-item"></div>
                        <div class="gr-item"></div>
                    </div>
                    <div class="gr-item">
                        <div class="gr-item"></div>
                        <div class="gr-item"></div>
                    </div>
                </div>
                <div class="gr-item">
                    <div class="gr-item">
                        <div class="gr-item"></div>
                        <div class="gr-item"></div>
                    </div>
                    <div class="gr-item">
                        <div class="gr-item"></div>
                        <div class="gr-item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    
    .gr div {
        opacity: 0.6
    }
    .gr>div:first-child {
        background: red;
    }

    .gr>div:last-child {
        background: green;
    }

    .gr>div>div:first-child {
        background: yellow;
    }

    .gr>div>div:last-child {
        background: deepskyblue;
    }

    .gr>div>div>div:first-child {
        background: #eee;
    }

    .gr>div>div>div:last-child {
        background: #aaa;
    }
</style>