<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#layoutPanel">
        <%= __('layout') %>
            <span class="subtitle"> <%= __('new layout style') %></span>
    </a>
    <div id="layoutPanel">
        <div class="gr-panel">
            <div class="gr">
                <div class="gr-item" >
                    <div class="gr-item">
                        <div class="gr-item"></div>
                        <div class="gr-item"></div>
                    </div>
                    <div class="gr-item">
                        <div class="gr-item"></div>
                        <div class="gr-item"></div>
                    </div>
                </div>
                <div class="gr-item">
                    <div class="gr-item">
                        <div class="gr-item">which always equal increste rate of width</div>
                        <div class="gr-item">the responsive layout will have a limitation of height</div>
                    </div>
                    <div class="gr-item">
                        <div class="gr-item"></div>
                        <div class="gr-item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
