<div class="panel">
    <a href="javascript:;" class="h3 addition" data-collapse data-target="#imgzoomPanel">imgzoom
        <span class="subtitle">the plugin control img zoomin zoomout</span><i class="icon-angle-down right"></i></a>
    <div id="imgzoomPanel" class="row" style="display: none;">
        <div class="col-xs-6">
            <a href="javascript:;" class="btn" data-imgzoom data-max="100" data-step="10" data-target="#imgzoomView"><i class="icon-plus"></i> zoom
                in</a>
        </div>
        <div class="col-xs-6">
            <a href="javascript:;" class="btn" data-imgzoom data-min="50" data-step="-10" data-target="#imgzoomView"><i class="icon-minus"> zoom
                    out</i></a>
        </div>
        <div class="col-xs-12">
            <div id="imgzoomView" class="imgzoom" style="max-height:300px; overflow:scroll;">
                <li><img src="dist/src/img/01.jpg" alt="This is a image."></li>
                <li><img src="dist/src/img/02.jpg" alt="This is a image."></li>
                <li><img src="dist/src/img/03.jpg" alt="This is a image."></li>
                <li><img src="dist/src/img/04.jpg" alt="This is a image."></li>
                <li><img src="dist/src/img/05.jpg" alt="This is a image."></li>
            </div>
        </div>
    </div>
</div>
