<%- include('./views/header') %>
    <div class="content-panel">
        <div>
            <div class="hidden-ch">Study Trusteeship </div>
            <div class="hidden-en">留学托管</div>
        </div>
    </div>

    <div class="content-panel" style="background:#f4f5f4;">
        <div>网站建设中…….</div>
    </div>

    <%- include('./views/footer') %>