<%- include('./views/header') %>
<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch">Quality and Standards</span>
            <span class="hidden-en">教育质量与标准</span>
        </div>
        <p class="hidden-ch">The New Zealand government has strong quality assurance systems to ensure  high-quality education at all levels of the education system, both public and private.</p>
        <p class="hidden-en">新西兰政府设置了严格的教育质量保障体系，以确保各个环节、各个学校的高质量的教育水准。</p>
    </div>
</div>
<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch">Quality Assured</span>
            <span class="hidden-en">质量保证体系</span>
        </div>
        <p class="hidden-ch">If you study in New Zealand as an international student, education providers are responsible for making sure you are well informed, safe and properly cared for.</p>
        <p class="hidden-en">新西兰的教育体系严格要求每一所教育机构对每一位留学生负责，包括信息透明、安全保护以及悉心照料。</p>
        <p class="hidden-ch">The New Zealand government’s Code of Practice for the Pastoral Care of International Students sets out the fair and ethical practices and support systems our education providers must have before enrolling international students.</p>
        <p class="hidden-en">新西兰政府颁布了留学生保护关怀条例，以保证留学生受到公平公正的对待。每一所接受留学生的教育机构在招生前都必须签署该条例。</p>
        <p class="hidden-ch">The code covers international students at all ages and levels of education.</p>
        <p class="hidden-en">该条例涵盖了所有年龄和学习等级的留学生。</p>
        <p class="hidden-ch">The New Zealand Qualifications Authority (NZQA) ensures all education providers are meeting the code’s requirements. Learn more on the NZQA website.</p>
        <p class="hidden-en">新西兰资质权威体系（NZQA）保证了所有教育机构严格执行留学生保护关怀条例。</p>
    </div>
</div>
<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch">Understanding and Qualification</span>
            <span class="hidden-en">教育认证体系</span>
        </div>
        <p class="hidden-ch">The New Zealand Qualifications Framework (NZQF) has 10 levels and covers a range of qualifications, from certificates to doctoral degrees.  </p>
        <p class="hidden-en">新西兰资质框架（NZQF）有10个等级组成，其涵盖了从职业技能认证到博士学位的认证。</p>
        <p class="hidden-ch">Any programme you’re considering studying in New Zealand should tell you which level of the NZQF you’d achieve when you graduated, as well as which qualification you’d obtain.</p>
        <p class="hidden-en">无论您的孩子在新西兰选择何种学习方式，都会有相应的NZQF对应等级以及完成学业后所取得的认证等级。</p>
        <p class="hidden-ch">The NZQF levels are:</p>
        <p class="hidden-en">NZQF等级包括：</p>
        <p class="hidden-ch">•    levels 1-4, which cover the National Certificate of Educational Achievement (NCEA) - the main qualification in secondary schools - and basic trades training</p>
        <p class="hidden-en">•    等级1-4，涵盖了新西兰国家教育成果（NCEA）－主要是初高中学习以及基础手艺培训</p>
        <p class="hidden-ch">•    levels 5-6, which cover advanced trades, technical and business qualifications</p>
        <p class="hidden-en">•    等级5-6，包括了高级的手艺培训、技术和商业技能资质</p>
        <p class="hidden-ch">•    levels 7-10, which cover degrees, graduate and postgraduate qualifications.</p>
        <p class="hidden-en">•    等级7-10，包括了学位、本科及本科以上学历</p>
        <p class="hidden-ch">Learn more about our qualifications on the <a href="www.nzqa.govt.nz">NZQA website</a>.</p>
        <p class="hidden-en">关于更多教育资质和认证的信息，可参考<a href="www.nzqa.govt.nz">NZQA官网</a></p>
    </div>
</div>
<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch">Globally Recognize</span>
            <span class="hidden-ch">全球认证体系</span>
        </div>
        <p class="hidden-ch">The main qualification in New Zealand secondary schools, the National Certificate of Educational Achievement (NCEA), is widely recognised internationally. </p>
        <p class="hidden-ch">新西兰的初高中教育广受世界认证。</p>
        <p class="hidden-ch">Places that recognise NCEA include Australia, the United Kingdom, Europe, Germany, India and Thailand. </p>
        <p class="hidden-ch">认可NCEA的国家包括澳大利亚、英国、欧洲、德国、印度和泰国。也就意味着，您的孩子在新西兰读完高中后，可直接申请以上国家的大学。</p>
        <p class="hidden-ch">New Zealand Bachelor Degrees are widely recognised internationally for enrolment in postgraduate programmes at universities around the world.  </p>
        <p class="hidden-ch">新西兰的本科学历在国际上广受认可，同时被全球的研究生学习机构认可和接受。</p>
        <p class="hidden-ch">New Zealand has signed agreements with groups of European and Asia-Pacific countries that commit to recognising each other’s qualifications.</p>
        <p class="hidden-ch">新西兰与欧盟和亚太平洋国家签署了合约，以互认教育资历。</p>
        <p class="hidden-ch">These agreements include the Lisbon Recognition Convention in Europe, which has been signed by 50 countries and international organisations including the European Union, the United States, Australia, Canada, Russia and Israel.</p>
        <p class="hidden-ch">这些合约里包括了里斯本资格认可公约。该合约的签署国超过50个国家，其中包括欧盟、美国、澳大利亚、加拿大、俄罗斯以及以色列。</p>
        <p class="hidden-ch">Learn more about international recognition of our qualifications on the NZQA website.</p>
        <p class="hidden-ch">关于更多教育资质和认证的信息，可参考www.nzqa.govt.nz</p>
    </div>
</div>

<%- include('./views/footer') %>
